<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets async="false">
            <target name="file1" xsi:type="file" layout="${message}" fileName="${basedir}/file1.log"/>
            <target name="file2" xsi:type="file" layout="${message}" fileName="${basedir}/file2.log"/>
        </targets>
        <rules>
            <logger name="one" minlevel="Error" writeTo="file1" />
            <logger name="two" minlevel="Debug" writeTo="file2" maxlevel="Warn"/>
        </rules>
    </nlog>
</configuration>